@import "./../scss/global.scss";
.wrapper {
  background-color: $color-main;
  width: 40rem;
  margin-left: 2.5rem;
  position: absolute;
  margin-top: 1.8rem;
  height: 23rem;
  position: absolute;
}
.counter {
  padding-top: 4.1rem;
  font-size: 5.4rem;
  font-weight: 500;
  color: $color-light;
}
.limit {
  color: rgb(241, 84, 84);
}
.text {
  font-size: 2.8rem;
  font-weight: 700;
}
.textRed {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(243, 98, 98);
}
.buttonsWrapper {
  border: 5px solid $color-main;
  position: absolute;
  width: 39rem;
  height: 6rem;
  margin-top: 24.8rem;
  display: flex;
  justify-content: space-around;
}
.counterWrapper {
  width: 40rem;
  height: 20rem;
  position: absolute;
}
