@import "./../scss/global.scss";
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter {
  font-size: 5.4rem;
  font-weight: 500;
  color: $color-light;
  background-color: $color-main;
  width: 40rem;
  border-radius: 15px;
  height: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.buttonsWrapper {
  border: 5px solid $color-main;
  width: 39rem;
  height: 6rem;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-radius: 15px;
}

.limit {
  color: rgb(241, 84, 84);
  margin: 0;
}
.text {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0;
}
.textRed {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(243, 98, 98);
  margin: 0;
}
