@import "./../scss/global.scss";
.wrapper {
  background-color: $color-main;
  width: 40rem;
  margin-left: 2.5rem;
  position: absolute;
  margin-top: 1.8rem;
  height: 23rem;
}
.counter {
  padding-top: 4.1rem;
  font-size: 5.9rem;
  font-weight: 500;
  color: $color-light;
}
.limit {
  color: rgb(243, 60, 60);
  font-weight: 700;
  font-size: 6.1rem;
  text-shadow: 2px 2px #0c2e38;
}
