@import "./../scss/global.scss";
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .form {
    background-color: $color-main;
    width: 40rem;
    height: 20rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  label {
    color: $color-light;
    font-size: 2.2rem;
    font-weight: 700;
  }
  .input {
    display: flex;
    width: 35rem;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
  }
  input {
    outline: none;
    height: 2.2rem;
    width: 18rem !important;
    font-size: 1.5rem;
    color: $color-main;
    border: 2px solid $color-main;
    background: $color-light;
    font-weight: 700;
    text-align: center;
  }
  .btnWrapper {
    border: 5px solid $color-main;
    width: 39rem;
    height: 6rem;
    text-align: center;
    border-radius: 15px;
    margin-top: 2.5rem;
  }

  .inValid {
    background-color: $color-red;
    border: 2px solid rgb(248, 76, 76);
    color: rgb(248, 76, 76);
  }
}
