@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap");
@import "./scss/global.scss";
body {
  background-color: $color-light;
}
.mainWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  font-family: "Comfortaa";
  text-align: center;
  border-radius: 15px;
}
.wrapper {
  border: 5px solid $color-main;
  width: 45rem;
  height: 35rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-light;
  text-align: center;
  border-radius: 15px;
}

.limit {
  color: rgb(243, 60, 60);
  font-weight: 700;
  font-size: 6.1rem;
  text-shadow: 2px 2px #0c2e38;
}
