@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap");
@import "./scss/global.scss";
* {
  // border: 1px solid red;
}
.mainWrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 90%;
  margin: 0 auto;
  font-family: "Comfortaa";
}
.wrapper {
  border: 5px solid $color-main;
  width: 45rem;
  height: 35rem;
  margin: 0 auto;
  margin-top: 5rem;
  background-color: $color-light;
}
.buttonsWrapper {
  border: 5px solid $color-main;
  position: absolute;
  width: 39rem;
  height: 6rem;
  margin-left: 2.6rem;
  margin-top: 26.5rem;
  display: flex;
  justify-content: space-around;
}
.wrapperSet {
  border: 5px solid $color-main;
  display: grid;
  width: 45rem;
  height: 35rem;
  margin: 0 auto;
  margin-top: 5rem;
  background-color: $color-light;
}
.counterWrapper {
  background-color: $color-main;
  width: 40rem;
  margin-left: 2.5rem;
  position: absolute;
  margin-top: 1.8rem;
  height: 23rem;
}
.counter {
  padding-top: 4.1rem;
  font-size: 5.9rem;
  font-weight: 500;
  color: $color-light;
}
.limit {
  color: rgb(243, 60, 60);
  font-weight: 700;
  font-size: 6.1rem;
  text-shadow: 2px 2px #0c2e38;
}
